.left-menu {
  border-radius: 10px;
  margin: 5px 5px;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.logo-givyoo {
  border-radius: 10px;
  color: #fff2ceff;
  height: 85px;
  margin: 10px 5px 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-givyoo img {
  height: 100%;
}

.all-button {
  border-radius: 10px;
  background-color: #20124d;
  width: auto;
  height: 95vh;
  max-height: 100%;
  margin: 2px 2px;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.navButton {
  border-radius: 5px;
  border: 1px solid #726792aa;
  text-decoration: none;
  width: 180px;
  height: 40px;
  margin: 10px auto;
  padding: 5px 5px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton a {
  color: #20124d;
}

.navButton a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #4b30a5;
}
