/* GENERIC STYLES */

/* TITLES and TEXT STYLE */

.sectionTitle {
  color: #20124d;
  width: 100%;
  border: 1px solid #20124d;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px 0;
}

/* NAVBAR COMPONENT */
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.main-content {
  border-radius: 10px;
  width: 100%;
  margin: 5px 5px 5px 0px;
  background-color: #fff;
  /* FLEX */
  display: flex;
  flex-direction: column;
}

/* INSIDE SECTION NAVBAR */

.insideNavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.btn-insideNav {
  background-color: #20124d;
  border: 0.1rem solid #20124d;
  color: #fff;
  margin: 0 10px 0 0;
}

.btn-insideNav:hover {
  background-color: #fff;
}

/* FORM STYLES */

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.formContent {
  width: 700px;
  border: 1px solid #20124d;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px 0;
}

.formContent p {
  font-weight: bold;
  margin-bottom: 20px;
}

.shopType {
  padding: 0 50px;
}

/* EDITING BUTTONS*/

.btn-editing {
  border: 1px solid #20124d;
  margin: 0 5px;
}

.btn-deleting {
  border: 1px solid red;
  margin: 0 5px;
}

/* BUTTONS */

.yellow1 {
  background-color: #f28d1bff;
  border: 0.1rem solid #f28d1bff;
}

.yellow2 {
  background-color: #f59d19ff;
  border: 0.1rem solid #f59d19ff;
}

.yellow3 {
  background-color: #f9ad15ff;
  border: 0.1rem solid #f9ad15ff;
}

.yellow4 {
  background-color: #fcc010ff;
  border: 0.1rem solid #fcc010ff;
}

.yellow1:hover {
  color: #f28d1bff;
  background-color: #fff;
}

.yellow2:hover {
  color: #f59d19ff;
  background-color: #fff;
}

.yellow3:hover {
  color: #f9ad15ff;
  background-color: #fff;
}

.yellow4:hover {
  color: #fcc010ff;
  background-color: #fff;
}

/* STATUS CARD */
.notsale {
  background-color: #db4545;
  border-radius: 50%;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  color: transparent;
  padding: 5px;
}

.sale {
  background-color: #16ca16;
  border-radius: 50%;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  color: transparent;
  padding: 5px;
}

/*TITLE */
.titlelist {
  margin-top: 3rem;
}
