/* Cockpit component */
.parent-container {
  display: flex;
  min-width: 100vw;
  margin: 0;
}
/* NavBar component */
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.main-content {
  border-radius: 10px;
  width: 100%;
  margin: 5px 5px 5px 0px;
  background-color: #fff2ceff;
  /* FLEX */
  display: flex;
  flex-direction: column;
}

/* INSIDE SECTION NAVBAR */

.insideNavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.btn-insideNav {
  background-color: #20124d;
  color: #fff2ceff;
  margin: 0 10px 0 0;
}

.btn-insideNav:hover {
  background-color: #fff2ceff;
}

/* FORM STYLES */

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.formContent {
  width: 700px;
  border: 1px solid #20124d;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px 0;
}

.formContent p {
  font-weight: bold;
  margin-bottom: 20px;
}

.shopType {
  padding: 0 50px;
}

/* EDITING BUTTONS*/

.btn-editing {
  border: 1px solid #20124d;
  margin: 0 5px;
}

.btn-deleting {
  border: 1px solid red;
  margin: 0 5px;
}
