.edit-button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: #20124d;
  color: #fff2ceff;
}

.edit-button active {
  background-color: #fff2ceff;
}

.edit-button unactive {
  background-color: #20124d;
}
